body {
  font-family: "Tajawal", sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;

  /* 🔥 الخلفية تبان كاملة بدون قص */
  background-image: url("7.jpg");
  background-size: contain;      /* تبين كاملة */
  background-position: center;   /* بالنص */
  background-repeat: no-repeat;  /* ما تتكرر */
}

.container {
  width: 100%;
  max-width: 500px;  
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

h1 {
  color: #006400;
  margin-bottom: 20px;
  font-size: 2rem;
}

button { 
  background-color: #228b22;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;       
  max-width: 300px;  
  margin: 0 auto;    
}

button:hover {
  background-color: #006400;
}

.card-box {
  margin-top: 30px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.card-box img {
  width: 100%;         
  max-width: 250px;    
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: none;
  margin: 0 auto;      
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  button {
    padding: 14px;
    font-size: 1.1rem;
  }

  .card-box img {
    max-width: 180px;
  }
}