body {
  font-family: "Tajawal", sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;

  background-image: url("m.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin-top: 0;
  padding: 15px; /* عشان مايلصق في الأطراف بالجوال */
}

h1 {
  color: #006400;
  margin-bottom: 20px;
  font-size: 2rem; /* يتغير تلقائي حسب حجم الشاشة */
}

button {
  background-color: #228b22;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #006400;
}

.card-box {
  margin-top: 30px;
}

.card-box img {
  width: 90%; /* يصغر مع حجم الشاشة */
  max-width: 250px; /* ما يكبر أكثر من 250 */
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: none;
}

/* 📱 للجوالات الصغيرة */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  button {
    width: 100%; /* ياخذ عرض الشاشة */
    padding: 14px;
    font-size: 1.1rem;
  }

  .card-box img {
    max-width: 180px; /* يصغر أكثر */
  }
}
